.container-overflow{
    height: 300;
    width: 500;
    border: 1px solid black;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}

.img1{
    float: right;
    margin: 10px;
}

.img2{
    float: left;
    margin: 10px;
}

.p2{
    clear: right;
}

.img2{
    clear: right;
}
