*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: black;
}

.navbar ul li{
    display: inline;
    list-style: none;
    padding: 0rem 1.2rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: antiquewhite;
}

.navbar ul{
    text-align: end;
    padding:1.3rem;
}

.box-section{
    margin: 1rem;
    padding: 1rem;
}

.box{
    padding-bottom: 1.5rem;
}

#inline-section li{
    display: inline;
    list-style: circle;
}

p{
    display: inline;
}

#none-section{
    display: none;
}